# Kopieer dit bestand naar .env en vul in met je eigen waardes.
# Deze waardes vind je in https://sanity.io/manage nadat je je project hebt aangemaakt.

SANITY_STUDIO_PROJECT_ID=vervang-dit
SANITY_STUDIO_DATASET=production
